header{
    background-color: white;
    height: 70px;
    width: 100%;
    padding-left: 20px;
    border-bottom: 1px solid #cccccc;
    background-image: url("../images/logo.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    flex: 0 0 auto; /*ensures header does not stretch*/
}
