section.filters{
    display: flex;
    align-items: center;
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    padding-right: 30px;
}
section.filters button{
    font-size: 18px;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-left: auto; /*push button to the left*/
}
section.filters button:hover{
    opacity: 90%;
}
section.filters div.locations, section.filters div.amenities{
    height: 100%;
    width: 25%;
}
section.filters div.locations{
    border-right: 1px solid #dddddd;
}

section.filters div.locations h3, section.filters div.amenities h3{
    font-weight: 600;
    margin: 17px;
}

section.filters div.locations h4, section.filters div.amenities h4{
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 0 30px;
}
ul.popover{
    position: relative;
    display: none;
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #dddddd;
    padding: 10px 15px;
    z-index: 1;
    overflow-y: auto;
    max-height: 300px;
    margin-top: -1px
}
ul.popover h2{
    font-size: 16px;
    margin: 0;
}
ul.popover ul{
    margin: 0;
    padding: 4px 0 10px 10px;
}
ul.popover, ul.popover ul{
    list-style-type: none;
}

/*hide the filter popover*/
div.locations:hover ul.popover,
div.amenities:hover ul.popover{
    display: block;
}
